
# OS
## Mac
.DS_Store

### Package Managers
*.lock

### Dart
# Files and directories created by pub
.dart_tool/
.packages

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/
.vscode/